.app {
  display: flex;
  flex-direction: column;
}

.app__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.appHeader__top {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.appHeader__top img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
.appHeader__top h1 {
  color: #635bff;
  font-size: 2rem;
}

.app__productCardList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  padding: 0rem;
}
.app__productTable {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.app__productTable h1 {
  margin-bottom: 0.1rem;
}
.app__productTable span {
  margin-bottom: 2rem;
}

@media (max-width: 990px) {
  .app,
  .app__productCardList {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .appHeader__top,
  .appHeader__bottom {
    flex-direction: column;
    text-align: center;
  }
}
